<app-nav></app-nav>


<div class="container">
<!--<app-modal-basic></app-modal-basic>   spostata su navbar -->
  <h1>User Management system - userNew</h1>

<!--

<table>  //   fino a video 28 - installazione awesome
  <tr>
    <div class="form-group">
    <td>
      <div class="col-sm-2">
        <button class="btn btn-primary btn-sm" (click)="newUser()">

          <fa-icon [icon]="faUserPlus"></fa-icon>
        </button>
      </div>
    </td>
    <td>
      <div class="col-sl-10">
        <label class="labelTitolo">{{lista}}</label>

      </div>
    </td>
  </div>
  </tr>

</table>   -->


  <div class="row">
      <div class="col-md-12">
        <router-outlet></router-outlet>
      </div>
  </div>
</div>
