<div class="container-fluid">
  <h1>User Management system</h1>
 <!-- <fa name="pen-square"></fa>   -->
<table>   <!--   fino a video 28 - installazione awesome-->
  <tr>
    <div class="form-group">
    <td>
      <div class="col-sm-2">
        <button class="btn btn-primary btn-sm" (click)="newUser()">
          <!-- <fa name="user-plus"></fa>   -->
          <fa-icon [icon]="faUserPlus"></fa-icon>
        </button>
      </div>
    </td>
    <td>
      <div class="col-sl-10">
        <label class="labelTitolo">{{lista}}</label>

      </div>
    </td>
  </div>
  </tr>

</table>

<br>
  <div class="row">
    <div class="col-md-8">
        <app-users (updateUser) = "updateUser($event)"></app-users>
    </div>
    <div class="col-md-4" *ngIf="showForm">
        <app-user-detail [user] = "userSelected"></app-user-detail>
    </div>
  </div>
</div>
