input.ng-invalid{
  border: 1px solid red;

}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}


.required:after { content:" - Obbligatorio";   /*  content:" *"  */
                  color: red;
                  font-size: 12px;
                  align-content: flex-end;
                     }

.required { color:black;
            font-weight: bold;
            text-align: left;
            font-size: 15px;
            border-style: double;
            border-radius: 5px;
            border-width:2px;
            border-color: cyan;
            text-indent: 10px;
            margin-bottom: 5px;
            width: 250px;
            height: 35px;
                        }
.norequired { color:black;
            font-weight: normal;
            text-align: left;
             margin-bottom: 5px;
            height: 35px;
            }

.icondel {
  color: red;
  size: 25px;
  vertical-align: text-bottom;
  margin-right: 15px;
}

.iconinfo {
  color:blue;
  font-size: xx-large;
  vertical-align: text-bottom;
  margin-right: 15px;

}

.icon-danger {
  color: red;
  font-size: large;
  

} 
.icon-success {
  color: green;
  font-size: large;

} 

/*
  da testare per controlli   https://www.the-art-of-web.com/html/html5-form-validation/

  input:required:invalid, input:focus:invalid {
    background-image: url(/images/invalid.png);
    background-position: right top;
    background-repeat: no-repeat;
  }
  input:required:valid {
    background-image: url(/images/valid.png);
    background-position: right top;
    background-repeat: no-repeat;
  }



*/